@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #03a9f4;
}

.info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Quiz Button Styling */
.start_btn {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 3px;
    background: linear-gradient(90deg, #00aeff, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
}

.button {

    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;

}

.start_btn ::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
}

.start_btn :hover::before {
    background: linear-gradient(90deg, #00aeff, #f441a5);
    filter: blur(1.2em);
}

.start_btn :active::before {
    filter: blur(0.2em);
}

/* Info Box Start  */
.info_box {
    display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: #03a9f4;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info_box .buttons .restart {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    color: #fff;
}

.info_box .buttons .restart:hover {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    color: #000;
}

.info_box .buttons .quit {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    color: #fff;
}

.info_box .buttons .quit:hover {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    color: #000;
}
